[submodule "doc"]
	path = doc
	url = git@github.com:MuntasirBabul/doc.git
[submodule "backend"]
	path = backend
	url = git@github.com:MuntasirBabul/backend.git
[submodule "rtl"]
	path = rtl
	url = git@github.com:MuntasirBabul/rtl
